.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formGroup {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #767676;
    font-weight: 600;
}

.addButton {
    background-color: #006b3f;
    padding: 5px;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 20px;
    height: 20px;

    &:hover {
        cursor: pointer;
    }
}

.periodsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    gap: 18px;
    justify-content: center;
    margin: 18px 0px 50px 0px;
}

.periodContainer {
    background-color: #006b3f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: 8px;
    padding: 8px;
    gap: 8px;
}

.periodHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.periodTitleContainer {
    display: flex;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 700;
    padding: 5px;
    aspect-ratio: 1 / 1;
    justify-content: center;
}

.periodActions {
    width: max-content;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    gap: 8px;
}

.icon {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 3px;

    &:hover {
        cursor: pointer;
    }
}

.calendarIcon {
    width: 100%;
    height: 100px;
    cursor: pointer;
}

.searchContainer {
    position: relative;
}

.buttonContainer {
    margin: 0px auto 0px auto;
}

.fileLabel {
    border-radius: 8px;
    background-color: #006b3f;
    color: white;
    font-weight: 600;
    padding: 8px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px auto 20px auto;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: all ease-in-out 0.3s;
    }
}

.fileInput {
    display: none;
}

.uploadIcon {
    width: 20px;
    aspect-ratio: 1/1;
}

.uploadContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.uploadActive, .uploadInactive {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus {
     outline: none;   
    }
}

.uploadActive {
    background-color: #006b3f;
}

.uploadInactive {
    background-color: #ccc;
}

.uploadMessageActive, .uploadMessageInactive {
    font-size: 12px;
    font-weight: 400;
}

.uploadMessageInactive {
    color: #ccc;
}

.uploadMessageActive {
    color: #006b3f;
}

.uploadBtnIcon {
    width: 12px;
}