.button {
    background-color: rgb(255, 255, 255);
    width: 9rem;
    height: 2.8rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    border: none;
    display: flex;
    padding: 5px;
    font-size: 0.8em;
    font-weight: bolder;
    border: 2px solid #006b3f;
    color: #006b3f;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s ease;
    cursor: pointer;
    position: relative;
}

.toggledBtn {
    background-color: #006b3f;
    color: rgb(255, 255, 255);
    width: 9rem;
    height: 2.8rem;
    margin-bottom: 1rem;
    border-radius: 1.25rem;
    border: none;
    display: flex;
    padding: 5px;
    font-size: 0.8em;
    font-weight: bolder;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.2s ease;
    cursor: pointer;
    position: relative;
}

.slider {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #006b3f;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(6rem);
    transition: right 0.5s ease;
    position: absolute;
}

#text {
    font-size: 20px;
}

.toggledSlider {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: calc();
}

.btnText {
    width: 2rem;
    padding: 5px;
    transform: translateX(0);
    transition: right 0.5s ease;
    position: absolute;
}

.toggledBtnText {
    padding: 5px;
    left: calc(2.5rem);
    position: absolute;
}