.selectContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.disabled {
    opacity: 0.6;
}

.disabled .span {
    cursor: not-allowed;
}

.disabled .icon {
    cursor: not-allowed;
}

.span {
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    justify-content: space-between;
    min-height: 30px;
}

.p {
    color: #767676;
    font-size: 14px;
    font-weight: 400;
}

.iconDown, .iconUp {
    width: 15px;
    aspect-ratio: 1/1;
    cursor: pointer
}

.iconUp {
    rotate: deg(180);
}

.options {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    z-index: 20;
    width: 100%;
    list-style: none;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
}

.option {
    cursor: pointer;
    font-size: 14px;
}

.icon {
    width: 15px;
    cursor: pointer;
}
