DB_ENGINE=sqlite
INITIAL_ADMIN_EMAIL=
AUTH_COOKIE_HTTPONLY=true
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAMESITE=Lax
AUTH_COOKIE_REFRESH_PATH=/session/
AUTH_COOKIE_ACCESS_PATH=/
AUTH_COOKIE_REFRESH_MAX_AGE=604800
SECRET_KEY=
GOOGLE_OAUTH2_CLIENT_ID=
BASE_SYSTEM_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
TZ=
