.dropdown {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.dropdownContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
    align-items: center;
}

.dropdownIcon {
    max-width: 20px;
    max-height: 100%;
}

.dropdownTitle {
    font-family: 'Roboto';
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;

    &:hover {
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        transform: scale(1.03);
    }
}

.dropdownList {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    list-style: none;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    top: 120%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 20;
}

.dropdownItem {
    display: flex;
    justify-content: start;
    padding: 5px;
    font-size: 12px;
    font-family: 'Roboto';
    color: black;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        background-color: #f2f2f2;
    }
}

.dropdownItem:first-child {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.dropdownItem:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.itemTitle {
    text-decoration: none;
    color: #a0a0a0;
    font-family: 'Roboto';
    font-weight: 500;
}