.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.formGroup {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.inputContainer {
    width: 30%;
}

.buttonContainer {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}