.menu {
    display: flex;
    width: 65%;
}

.menuContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    gap: 10px
}

.h2 {
    font-family: "Roboto";
    color: #767676;
}

.nextButton, .prevButton {
    display: flex;
    background-color: #006b3f;
    padding: 5px;
    border-radius: 50%;
}

.icon {
    width: 15px;
    height: 15px;

    &:hover {
        cursor: pointer;
    }
}

.addButton {
    border-radius: 50%;
    border: none;
    background-color: #006b3f;
    display: flex;
    width: 20px;
    height: 20px;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-weight: 600;

    &:hover {
        cursor: pointer;
    }
}
