.span {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 12px;
    color: #767676;
    font-family: 'Roboto';
}

.visitorForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: 'Roboto';
    color: #767676;
    font-size: 12px;
    gap: 8px;
    font-weight: 500;
}

.formGroup {
    width: 100%;
    display: flex;
    gap: 10px;
}

.inputGroupContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.errorMessage {
    font-family: 'Roboto';
    color: red;
    font-size: 10px;
    font-weight: 400;
}

.optionP:hover,
.loginP:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.3s ease;
}

.loginSpan {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #767676;
    font-family: 'Roboto';
    font-size: 10px;
    gap: 5px;
}

.loginP {
    color: #767676;
    font-family: 'Roboto';
    font-size: 10px;
    font-weight: 600;
}

.passwordContainer,
.passwordError {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Roboto';
}

.passwordContainer {
    border-color: #ccc;
}

.passwordError {
    border-color: red;
}

.passwordInput {
    font-family: 'Roboto';
    color: #767676;
    border: none;
    width: 100%;

    &:focus {
        outline: none;
    }
}

.inputImg {
    width: 15px;
    height: 15px;
}