.section {
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;
    gap: 25px;
    background-color: white;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    margin: auto;
    border-radius: 8px;
}

.profilePicture {
    width: 40%;
    border-radius: 50%;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    margin: auto;
}

.profileContainer {
    display: flex;
}

.sectionGroup {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.h2 {
    color: #767676;
    margin: auto;
    text-align: center;
    margin-bottom: 35px;
    border: 1px solid #767676;
    border-radius: 8px;
    padding: 8px;
    min-width: 220px;
    text-align: center;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #aaa;
    font-weight: 700;
    align-items: center;
}

.p {
    font-size: 25px;
    color: #767676;
    font-weight: 800;
    border: 1px solid #767676;
    border-radius: 8px;
    padding: 8px;
    min-width: 220px;
    text-align: center;
}