.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.formGroupContainer {
    margin-top: 20px;
}

.formGroup {
    display: flex;
    width: 100%;
    gap: 15px;
}

.tableFormGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0px auto 0px auto;
    gap: 8px;
}

.searchContainer {
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.searchTools {
    display: flex;
    gap: 8px;
    align-items: center;
}

.tool {
    width: 20px;
    height: 20px;

    &:hover {
        cursor: pointer;
    }
}

.remove {
    width: 15px;
    height: 15px;

    &:hover {
        cursor: pointer;
    }
}

.h2 {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 600;
    color: #767676;
    display: flex;
    gap: 8px;
    height: 28px;
    align-items: center;
}

.buttonContainer {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.button {
    border: none;
    border-radius: 5px;
    padding: 8px;
    gap: 8px;
    width: fit-content;
    height: fit-content;
}


