.tableContainer {
    width: 100%;
    overflow-y: visible;
    min-height: 200px;
    max-height: 350px;
    overflow-y: scroll;
}

.searchContainer {
    position: relative;
}

.addButton {
    background-color: #006b3f;
    padding: 5px;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 20px;
    height: 20px;
    margin: 20px auto 0px auto;

    &:hover {
        cursor: pointer;
    }
}

.preReqContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 8px;
    gap: 5px;
}

.preReq {
    width: max-content;
    display: flex;
    justify-content: center;
    gap: 8px;
    border: 1px solid #767676;
    border-radius: 20px;
    padding: 5px;
    align-items: center;
    background-color: #e4e4e4;
}