.tablesContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dualTableContainer {
    width: 100%;
    min-height: 150px;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden; 
    position: relative;
    display: block;
}

.dynamicTableContainer {
    width: 100%;
    height: 150px;
    max-height: 150px;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.tableContainer {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

.table {
    width: 100%;
    border-collapse: collapse;
    height: auto;
    font-family: 'Roboto';
}

.thead {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #006b3f;
    color: white;
    font-weight: 600;
    font-size: 13px;
    z-index: 10;
}

.tableTitle {
    margin: auto;
}

.thead th {
    /* para garantir que o sticky funcione */
    background-color: inherit;
}

.tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

.table tbody .tr:hover {
    transform: scale(1.02);
    transition: all ease-in-out 0.3s;
    position: relative;
    z-index: 3;
}

.tr {
    transform-origin: center; /* cresce para a direita, evitando ultrapassar a esquerda */
}

.th, .td{
    width: auto;
    text-align: center;
    padding: 3px;
}

.thAction, .tdAction {
    width: 0;
    padding: 3px;

}

.td {
    color: #767676;
    font-size: 12px;
    font-weight: 500;
}

.actions {
    display: flex;
    width: fit-content;
    gap: 4px;
    margin-right: 5px;
    justify-content: center;
}

.action {
    padding: 3px;
    display: flex;
    border-radius: 50%;
    border: 1px solid #767676;
    background-color: transparent;
    width: 20px;
    height: 20px;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: all ease-in-out 0.3s;
    }
}

.loadingWindow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove {
    width: 15px;
    height: 15px;

    &:hover {
        cursor: pointer;
    }
}

.addButton {
    background-color: #006b3f;
    padding: 5px;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 20px;
    height: 20px;

    &:hover {
        cursor: pointer;
    }
}

.messageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    font-size: 14px;
    font-family: 'Roboto';
    color: #767676;
    font-weight: 600;
    border: 1px solid #767676;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
}