.button {
    background-color: #006b3f;
    border-radius: 5px;
    color: white;
    border: 1px solid transparent;
    padding: 8px;

    &:hover {
        cursor: pointer;
        transition: .3s all ease;
        transform: scale(1.02);
        background-color: white;
        color: #006b3f;
        border: 1px solid #006b3f;
    }
}