.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formHeader {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.stageTag, .checkedStageTag {
    border: 1px solid #006b3f;
    border-radius: 8px;
    font-weight: 600;
    width: 120px;
    padding: 8px;
    text-align: center;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
        transition: all ease-in-out 0.3s;
    }
}

.stageTag {
    color: #006b3f;
}

.checkedStageTag {
    background-color: #006b3f;
    color: white;
}

.formGroup {
    display: flex;
    gap: 8px;
}

.formGroupTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.buttonContainer {
    margin: 20px auto 0px auto;
    width: fit-content;
}