.customSearchContainer {
    width: 100%;
    display: flex;
    z-index: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    max-height: 29px;
    background-color: white;
}

.searchInput {
    width: 100%;
    border: none;
    height: 100%;
    color: #767676;
    z-index: 0;

    &:focus {
        outline: none;
        border: none;
    }
}

.actionsContainer {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.action {
    width: 20px;
    height: 20px;

    &:hover {
        cursor: pointer;
    }
}
