.textArea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    min-height: 100px;
    font-family: "Roboto";
    padding: 5px;
    color: #767676;
}

.textAreaContainer {
    width: 100%;
}

.textArea,
.errorTextArea {
    width: 100%;
    padding: 5px;
    font-family: 'Roboto';
    color: #7d7d7d;
    border: 1px solid transparent;
    border-radius: 5px;
}

.textArea:focus,
.errorTextArea:focus {
    outline: none;
}

.textArea {
    border-color: #ccc;
}

.errorTextArea {
    border-color: red;
    margin: 0px;
}