@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

/* WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: transparent;       /* fundo da barra */
  position: fixed;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* cor do "ponteiro" da barra */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
scrollbar-width: thin;
}

/* Remove os botões (setas) */
::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}