.optionsContainer {
    background-color: white;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    border-radius: 5px;
    position: absolute !important;
    top: 100%;
    z-index: 100
}

.customOption {
    list-style: none;
    font-family: 'Roboto';
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: #767676;
    font-size: 12px;
    font-weight: 600;

    &:hover {
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        background-color: #f2f2f2;
    }
}